<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<display-name>Integration</display-name>

	<servlet>
		<servlet-name>CamelServlet</servlet-name>
		<servlet-class>org.apache.camel.component.servlet.CamelHttpTransportServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CamelServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>br.com.tcc.integration.listener.CamelListener</listener-class>
	</listener>

</web-app>
